<% if colors.any? %>
  <div class="panel panel-default filterNormal filterColor">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li>
          <% colors.each do |color| %>
            <%= link_to potepan_category_path(taxon.id, color: color.name) do %>
              <%= color.presentation %> <span>(<%= color.variants.select(:product_id).distinct.count %>)</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>