<div class="row filterArea">
  <div class="col-xs-6">
    <%= form_tag(potepan_category_path(params[:id]), method: :get) do %>
      <%= select_tag "order", options_for_select(Spree::Product.order_option_hash, selected: params[:order] || 'newest'), { class: "select-drop", onChange: "this.form.submit()" } %>
    <% end %>
  </div>
  <div class="col-xs-6" id="grid_or_list">
    <div class="btn-group pull-right" role="group" id="Grid_active">
      <button type="button" class="btn btn-default <%= 'active' if grid_layout? %>" onclick= "window.location.href= '<%= potepan_category_path(taxon.id, layout: "grid")%>'">
        <i class="fa fa-th" aria-hidden="true"></i><span class='grid_btn'>Grid</span>
      </button>
    </div>
    <div class="btn-group pull-right" role="group" id="List_active">
      <button type="button" class="btn btn-default <%= 'active' if list_layout? %>" onclick= "window.location.href= '<%= potepan_category_path(taxon.id, layout: "list")%>'">
        <i class="fa fa-th-list" aria-hidden="true"></i><span class='list_btn'>List</span>
      </button>
    </div>
  </div>
</div>