<% if sizes.any? %>
  <div class="panel panel-default filterNormal filterSize">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li>
          <% sizes.each do |size| %>
            <%= link_to potepan_category_path(taxon.id, size: size.name) do %>
              <%= size.presentation %> <span>(<%= size.variants.select(:product_id).distinct.count %>)</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>