<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section" %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: "categories", collection: @taxonomies, as: :taxonomy %>
        <%= render "price_range_filter" %>
        <%= render "color_filter", taxon: @taxon, colors: @list_of_colors %>
        <%= render "size_filter", taxon: @taxon, sizes: @list_of_sizes %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "products_sort_filter", taxon: @taxon %>
        <% if list_layout? %>
          <div class="row productListSingle">
            <%= render partial: "list_product", collection: @products, as: :product %>
          </div>
        <% else %>
          <div class="row productGrid">
            <%= render partial: "grid_product", collection: @products, as: :product  %>
          </div>
        <% end %>
        <%= render partial: "category_quick_view", collection: @products, as: :product %>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/partners_logo_slider" %>