<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "potepan/products/single_products", product: @product, product_properties: @product_properties, images: @images %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "potepan/products/related_products", collection: @related_products, as: :product %>
    </div>
  </div>
</section>
<%= render partial: "potepan/shared/product_quick_view", collection: @related_products, as: :product %>