<% provide(:title, "") %>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section" %>
<%= render "banner" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "popular_categories" %>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <%= render partial: "new_product", collection: @new_products, as: :new_product %>
        </div>
      </div>
    </div>
    <%= render "useful_articles" %>
  </div>
</section>
<%= render partial: "home_quick_view", collection: @new_products, as: :product %>
